/* Header */

header {
  width: 100%;
  padding: 20px 0;
  background-color: #d7e7dc;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

h2 {
  font-size: 18px;
  color: #385f6e;
}

.currensy-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-rates {
  display: flex;
  gap: 20px;
}

.header-rates p {
  font-size: 14px;
  color: #385f6e;
}

.rate {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .header-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-rates p {
    font-size: 16px;
  }
}

/*Currency converter*/

.currency-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-converter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
  background-color: hsl(138.75deg 25% 87.45% / 81%);
  margin-top: 100px;
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.currency-converter::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./assets/coins.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0.5;
}

.currency-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: var(--shadow);
}

select {
  font-size: 14px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 10px 10px;
  cursor: pointer;
  box-shadow: var(--shadow);
}


.reverse-button {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 20px;
  margin: 10px 0;

}

.reverse-button svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.reverse-button:hover svg {
  color: var(--button-hover);
}

@media (min-width: 480px) {
  .currency-converter::before {

    width: 350px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .currency-converter::before {
    width: 500px;
    height: 500px;
  }
}